
  .floatLeft {
    float: left;
  }

  .marginZero {
    margin: 0;
  }

  .paddingZero {
    padding: 0;
  }

  .width100 {
    width: 100%;
  }

  .width70 {
    width: 70%;
  }

  .width30 {
    width: 30%;
  }

  .height100 {
    height: 100%;
  }

  .heightAuto {
    height: auto;
  }

  .ulNoBulletPoint {
    list-style-type: none;
  }

  .displayFalse {
    display: none;
  }

  .displayTrue {
    display: block;
  }
